/* Basics setup*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* % from default value 16px now the default value is 10px an I can easy work with rems*/
}
:root {
  --mainDark: rgb(2, 2, 19);
  --mainText: #1f7974;
  --secondaryText: #63807d;
  --mainAccent: #04d9ff;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 0.4rem 0.5rem 0.3rem 0 #1f79758e;
  --lightShadowTop: -0.4rem -0.5rem 0.3rem 0 #1f79758e;
  --darkShadow: 0.4rem 1rem 0.5rem 0 #1f7975f3;
}
body {
  padding-top: 7rem;
  color: var(--mainText);
  background: var(--mainDark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  z-index: -1;
}
/* Buttons*/
.btn-done {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: rgb(83, 202, 4);
  background: transparent;
  padding: 1.1rem 1.6rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 400;
  pointer-events: none; /* Disable button click*/
}

.btn-primary {
  transition: var(--mainTransition);
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainAccent);
  background: var(--mainDark);
  padding: 1.1rem 1.6rem;
  border: 0.3rem solid var(--mainAccent);
  transition: 0.2s;
  text-transform: uppercase;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1rem !important;
}
.btn-primary:hover {
  transform: translateY(-0.3rem);
  background: var(--mainText);
  color: var(--mainAccent);
  border-color: var(--mainAccent);
  box-shadow: 0 0 1rem var(--mainAccent), 0 0 4rem var(--mainAccent),
    0 0 8rem var(--mainAccent);
}
.btn-primary:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0 0.5rem var(--mainAccent), 0 0 3rem var(--mainAccent),
    0 0 5rem var(--mainAccent);
}
/* Button animation*/

.order {
  max-width: 80%;
  position: relative;
  left: 10%;
  right: 10%;
  align-items: center !important;
  line-height: 7, 5rem;
  text-align: center;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: bounce 0.3s infinite alternate;
  -moz-animation: bounce 0.3s infinite alternate;
  animation: bounce 0.3s infinite alternate;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}
/* Button for carts*/
.btn-cart {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainAccent);
  background: var(--mainDark);
  padding: 1.1rem 1.6rem;
  border: 0.3rem solid var(--mainAccent);
  transition: 0.2s;
  text-transform: uppercase;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.btn-cart:hover {
  background: var(--mainText);
  color: var(--mainAccent);
  border-color: var(--mainAccent);
  box-shadow: 0 0 1rem var(--mainAccent), 0 0 4rem var(--mainAccent),
    0 0 8rem var(--mainAccent);
}
.btn-cart:active {
  transform: translateY(-1px);
  box-shadow: 0 0 0.5rem var(--mainAccent), 0 0 3rem var(--mainAccent),
    0 0 5rem var(--mainAccent);
}

/* Animated button */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.animated-button {
  animation: moveInBottom 0.5s ease-out 0.85s;
  animation-fill-mode: backwards;
}
@media (max-width: 636px) {
  .btn-cart {
    padding: 1.1rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
@media (max-width: 330px) {
  .btn-cart {
    padding: 0.8rem 0.9rem;
    font-size: 1rem;
    font-weight: 300;
  }
}

@keyframes growIn {
  0% {
    opacity: 0;
    transform: scale(0) translateY(15rem);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-15rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
